.main_header_logo {
    margin: 2rem 0; font-family: 'Pacifico', cursive;
}

.main_header_button {
    margin-bottom: 2rem;
}

.main_footer_logo {
    margin: 1.5rem 0; font-family: 'Pacifico', cursive;
}

.main_footer_button {
    margin-top: 1.5rem;
}

.mw-500{
    max-width: 500px;
    padding: 1rem 1.5rem;
}

.profile_image {
    height: 12rem;
    width: 12rem;
    border-radius: 20rem;
    object-fit: cover;
}

.NNB_B {
    font-family: "NanumBarunpenB", cursive;
}